body{
    background-color: darkslategray;
}
h1,h2,h3{
    color: rgb(148, 87, 30);
}
h4,h5,h6{
    color: #f0f8ff;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 20;
    line-height: 0;
}
